{% extends 'layout.html' %}

{% block body %}
    <p class="lead">Enter URL:</p>
    <form id="url_form" method="post" action="{{ url_for('shorten') }}">
	<input class="form-control my-4 col-md-5" name="url" type="text" placeholder="e.g. https://example.com/">
	<input id="submit_url" type="submit" class="btn btn-primary" onclick="disableButton()">
    </form>
    <script>
        // Function to disable button
        function disableButton() {
            document.getElementById("url_form").submit();
            document.getElementById('submit_url').disabled = true;
	    }
    </script>
{% endblock %}
